@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,400&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,400&family=Oleo+Script+Swash+Caps&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,400&family=Oleo+Script+Swash+Caps&family=Playfair+Display:ital,wght@1,500&display=swap');

body {
    margin: 0px;
}

.titlem{
    font-family: "Monserrat"; 
    color:white;  
    word-spacing: 3px;
}

.btn-warning {
    background-color: rgba(252, 251, 251, 0.987);
    border-radius: 10px;
}

.red{
    color: rgba(242, 9, 9, 0.768);
    font-family: "Lobster";