@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,400&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,400&family=Oleo+Script+Swash+Caps&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Montserrat:ital,wght@0,500;1,400&family=Oleo+Script+Swash+Caps&family=Playfair+Display:ital,wght@1,500&display=swap');

body {
    margin: 0px;
}

.jumbotron {
    background-image: url(image/bg3.jpg);
    /* font-family: "Lobster"; */
    background-size: cover;
    height: 500px;
}

.titlem{
    font-family: "Lobster"; 
    color: blue;  
}

.btn-warning {
    background-color: rgba(252, 251, 251, 0.987);
    border-radius: 10px;
}

.red{
    color: rgba(242, 9, 9, 0.768);
}

.pink{
    color: pink;
}